<div class="search-box">
    <input type="text" placeholder="Search Fruit" [(ngModel)]="searchText" />
    <button (click)="search()" type="button">Go</button>
    <button (click)="reset()" type="button">Clear</button>
</div>

<div class="card" *ngFor="let movie of movies">
    <img src="../../../../p2-display-movies/resources/doctor strange.jpg" alt={{movie.movieTitle}}>
    <div class="card-content">
        <h4>{{movie.movieTitle}}</h4>
        <span>{{movie.genre}}  {{movie?.yearOfRelease}} </span>
     </div>
</div>

<!-- {{movie.movieTitle}} -->